<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
          <h3 class="text-muted">TriviFree_WEB</h3>
        </div>
 
        <div class="jumbotron">
            <h1>What Hindu God burned villages for fun?</h1>
            <p class="lead"></p>
            <p>
                <hr>
                <a class="btn btn-lg btn-success" href="showSignUp" role="button">Brand</a>
                <br><hr>
                <a class="btn btn-lg btn-success" href="showSignUp" role="button">Zeus</a>
                <br><hr>
                <a class="btn btn-lg btn-success" href="showSignUp" role="button">Agni</a>
                <hr>
            </p>
        </div>
 
        
 
        <footer class="footer">
            <p>&copy; Trivifree web 2018</p>
        </footer>
 
    </div>
</body>
 
</html>